db/development.sqlite3
db/development.sqlite3
db/schema.rb
db/schema.rb
log/development.log
log/development.log
tmp/pids/server.pid
.InterarchyMirrorCacheData/Current Cache.1
tmp/
*.sqlite3
log/production.log
.DS_Store
app/.DS_Store
log/passenger.3000.log
app/assets/stylesheets/.DS_Store
public/assets/manifest.yml
public/assets/application.js.gz
public/assets/application.js
public/assets/application.css.gz
public/assets/application.css
public/assets/application-606c4346a43fce7ccd27c649ea9b8179.js.gz
public/assets/application-606c4346a43fce7ccd27c649ea9b8179.js
public/assets/application-08a28411f68b7b50b9e32ba01fd937fe.css.gz
public/assets/application-08a28411f68b7b50b9e32ba01fd937fe.css
app/views/layouts/plainOld.html.erb
Gemfile.lock
public/assets/application-258b6e3659dda89f279191ceb1204a8b.css

public/assets/application-258b6e3659dda89f279191ceb1204a8b.css.gz

public/assets/application-60a77f515ed0cc92b30696881efcffbe.js

public/assets/application-60a77f515ed0cc92b30696881efcffbe.js.gz

public/assets/manifest-725da8e768051166abd178b1de7c3451.json
