/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */
.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.best_in_place:hover, #user_account .do_hover {
  padding-right: 1.5em;
  background: url("/assets/red_pen.png") no-repeat right;
  background-color: #CCC;
}
.detailListText{
    margin: 0 0 0 30px;
}

.checkBoxLeft{
    position: absolute; 
    left: 10px; 
    top: 28%;
    width: 18px;
    height: 18px;
    background: #d9d9d9;
    border-radius: 3px;  
}

.hidden-checkbox {
    display: none;
}

.not-checked, .checked {
    background-image: url("/assets/elements.png");
    background-repeat: no-repeat;
}

.not-checked {
    background-position: 18px 0;   
    background-color:#d9d9d9;
}


.checked {
    background-position: 0 0;   
    background-color:#6496bc;    
}